projects/catalogue/Common/Library/Core/Schemas/applicationHost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="typeApplicationHost">
		<xs:annotation>
			<xs:documentation>
				Defines settings of the current instance of Application Host
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="enableGoogleTagManager" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Specifies whether Application Host should trigger Google Tag Manager tags.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="googleTagManagerContainerId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Specifies the ID of a Google Tag Manager container.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manifestCacheMaxAge" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Specifies time in seconds, during which application maniest files are cached. 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manifestLoadTimeout" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Time in seconds, after which the Application Host will stop waiting for the manifest files.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationReferences">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>
							Defines a list of hosted applications
						</xs:documentation>
					</xs:annotation>
					<xs:sequence maxOccurs="unbounded" minOccurs="0">
						<xs:element name="applicationReference">
							<xs:complexType>
								<xs:annotation>
									<xs:documentation>
										Defines a hosted application by referencing the application's manifest.html file
									</xs:documentation>
								</xs:annotation>
								<xs:attribute name="id" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>'id' is used for defining trusts between applications, must match the id exposed by the application</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="url" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>url of the html file to load the application manifest</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="libraryVersions" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>
							Defines a list of the common UI library versions supported by this application host.
							Application Host's coreVersion is included implicitly, it refers to (corePath)/Library/ configured for the Application Host
						</xs:documentation>
					</xs:annotation>
					<xs:sequence maxOccurs="unbounded" minOccurs="0">
						<xs:element name="version" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									Defines a supported version. There must be corresponding a directory created under (corePath)/Library/.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>

</xs:schema>